<div class="container mt-3">
 <div class="mb-3">
   <h4><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h4>
 </div>

 <div class="col-8">
  <table class="table table-bordered">
    <tbody>
    <tr>
      <th scope="row">会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th scope="row">氏名</th>
      <td><%= @customer.last_name %> <%= @customer.first_name %></td>
    </tr>
    <tr>
      <th scope="row">カナ</th>
      <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td><%= @customer.postal_code %></td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td><%= @customer.address %></td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= @customer.telephone_number %></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
   </tbody>
  </table>
</div>

<p><%= link_to '編集する', edit_admin_customer_path(@customer.id), class: "btn btn-success" %></p>

<p><%= link_to '注文履歴一覧を見る', admin_path, class: "btn btn-primary" %></p>

</div>