<div>
  <p><%= image_tag @item.get_profile_image(100,100) %></p>
  <p><%= @item.name %></p>
  <p><%= @item.introduction %></p>
  <p><%= @item.price %>(税込）</p>
  <p>
    <%= form_with model: @item do |f| %>
     <%= f.select :amount, [['1',1], ['2',2], ['3',3]] , prompt: "個数選択" %>
    <% end %>
  </p>
  <p><%= link_to 'カートに入れる', cart_items_path, class: "btn btn-success" %></p>
</div>